.collection-preview {
  //   display: flex;
  //   align-items: flex-start;
}

.collection-preview__info {
  display: flex;
  align-items: center;
  //   flex-direction: column;
  position: relative;
}

.collection-preview__items {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  card {
    pointer-events: none;
  }

  .claim-preview--tile {
    z-index: 5;
    margin-bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 5px 2px #44444420;
  }
}

.collection-title--hasEdits {
  color: var(--color-primary);
}
.collection-select__item {
  display: flex;
  margin-bottom: var(--spacing-xs);
}
.icon-collection-select {
  vertical-align: middle;
  margin-right: var(--spacing-xs);
}

.collection-edit-buttons {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.collection-edit-group {
  &:not(:last-of-type) {
    margin-right: var(--spacing-s);
  }
  margin-right: var(--spacing-s);
  button {
    @media (max-width: $breakpoint-small) {
      padding: var(--spacing-s) var(--spacing-s);
    }
  }
}
